---
import Layout from '../layouts/Layout.astro';
// import Schedule from '../components/Schedule.astro';
import MostRecentGames from '../components/MostRecentGames.astro'
---

<Layout title="Boston Puck Heads">
	<main>
    <MostRecentGames />
    <!-- <Schedule /> -->
	</main>
</Layout>

<style></style>
